:root {
  font-size: 62.5%;
  /*
    62.5% de 16px = 10px, 
    ou seja, 
    1 rem tem 10 pixels 
  */

  font-family: 'Poppins', Arial;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  --bg-color-1: #FFFFFF;
  --bg-color-2: #F8F9FA;

  --font-color-1: black;
  --font-color-hover: orange;
}